# Virtual Environments
.venv/
venv/
env/

# Version Control
.git/
.gitignore

# IDE
.idea/

# Python Cache
__pycache__/
*.pyc
*.pyo

# Local runtime data
input/
output/

# Streamlit UI (not needed for evaluator)
app.py

# UI assets (not needed for evaluator)
CaptionCaptain_Cap_Icon.png
CaptionCaptain_Cap_Logo.png
CaptionCaptain_Logo.png
CaptionCaptain_Logo_Base.png
CaptionCaptain_Logo_Spinner.png

# Documentation
README.md